.main-nav {
  align-self: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main-nav__item {
  &:not(:last-child) {
    margin-right: 32px;
  }
}

.main-nav__link {
  text-decoration: none;
  cursor: pointer;
  color: $title-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    color: $buttons-back;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}
