.room {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}

.room__wrapper {
  margin-top: 80px;
}

.room__subtitle {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.room__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.room__description {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  padding-right: 280px;
}

.room__links-wrapper {
  display: flex;
}

.room__button {
  margin-right: 24px;
}

.room__link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $buttons-back;
  text-decoration: none;
  display: block;
  align-self: center;
}

.room__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.room__item {
  padding: 32px 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
  position: relative;
}

.room__item-info {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: $button-room;
  position: absolute;
  right: 36px;
  top: 30px;
  cursor: pointer;

  &:hover {
    background-color: $button-slider-active;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    background-color: $button-room-active;
  }
}

.room__item-info-arrow {
  fill: none;
  stroke: $button-room-active;
  stroke-width: 3px;

  &--active {
    transform: rotate(-180deg);
    stroke: $white;
  }
}

.room_item-description {
  margin: 0;
  padding: 0;
  margin-top: 24px;
}
